header{
  background-color: black;
}
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:rgba(40, 44, 36, 0.9); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 10px 12px 10px 40px;
  text-decoration: none;
  font-size: 34px;
  color: white;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}





/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  color: white;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 34px;
  cursor: pointer;
  font-size: 50px;
  background:transparent ;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
  
}


/*  //////////////////////////////////////////////////////////////////////////////////////////////////// */





/* image grid start */
.screen_recomendations{
  width: 96%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.rowscren_reco{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

}


.rewsren_pics{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}


.layer h4{
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}
.layer h4 :hover {

  opacity:1;
}




 @media (max-width:700px) {

   .rowscren_reco{flex-direction: column;}
 }
/*  //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* image grid end */
